<div id="beksejuWrite_wrap">
  <h1 class="w1188"><span>제품 </span>작성페이지</h1>
<form action="/beksejuW" method="post" enctype="multipart/form-data" class="thumbwrite_form w1188">
    <div>
      <label class="thumbwrite_label">제목 : </label>
      <input type="text" name="product_name" class="beksejuW_INP">
    </div>
    <div>
      <label class="thumbwrite_label">가격 : </label>
      <input type="text" name="product_price" class="beksejuW_INP">
    </div>
    <div>
      <input type="file" name="product_img" class="beksejuW_INP">
    </div>
    <div class="beksejuW_submitBox">
      <input type="submit" value="저장" class="beksejuW_INP beksejuW_submit">
    </div>
  </form>
</div>