  <div id="join_wrap">
  <div class="joinImg_wrap">
  <div class="joinTitle_img"></div>
  <div class="joinArrow"></div>
</div>
  <!-- 이름, 주소, 생년월일, 비밀번호, 비밀번호 확인, 아이디 -->
  <form method="post" action="/writejoin">
    <table border="1">
      <tr>
        <td colspan="2" id="join_td">
          <p class="join_title">회원정보 입력</p>
        </td>
      </tr>
      <tr>
        <td class="join_td"><label for="id" class="title">아이디</label></td>
        <td class="join_td"><input type="text" name="id" id="id"></td>
      </tr>
      <tr>
        <td class="join_td"><label for="pw" class="title">비밀번호</label></td>
        <td class="join_td"><input type="password" name="pwd" id="pwd"></td>
      </tr>
      <tr>
        <td class="join_td"><label for="repw" class="title">비밀번호 확인</label></td>
        <td class="join_td"><input type="password" name="pwd2" id="pwd2"></td>
      </tr>
      <tr>
        <td class="join_td"><label for="address" class="title">이메일</label></td>
        <td class="join_td"><input type="text" name="mail" id="mail"></td>
      </tr>
      <tr>
        <td class="join_td"><label for="name" class="title">이름</label></td>
        <td class="join_td"><input type="text" name="name" id="name"></td>
      </tr>
      <tr>
        <td class="join_td"><label for="birth" class="title">주민번호</label></td>
        <td class="join_td"><input type="text" name="num" id="num"></td>
      </tr>
      <tr>
        <td class="join_td"><label for="p_num" class="title">전화번호</label></td>
        <td class="join_td"><input type="text" name="p_num" id="p_num"></td>
      </tr>
      <tr>
        <td class="join_td"><label for="h_add" class="title">주소</label></td>
        <td class="join_td"><input type="text" name="h_add" id="h_add"></td>
      </tr>  

         <!-- <tr>
        <td colspan="2" class="join_c_check"><input type="submit" value="취소" id="join_cancel"></td>
      </tr>
      <tr>
        <td colspan="2" class="join_c_check"><input type="submit" value="회원가입" id="join_check"></td>
      </tr> -->
    </table>
    <div id="joinCheck_wrap">
      <td colspan="2" class="join_c_check"><input type="button" value="취소" id="join_cancel" onclick="location.href='/'"></td>
      <td colspan="2" class="join_c_check"><input type="submit" value="회원가입" id="join_check"></td>
    </div>
  </form>
</div>
  <script src="js/join.js"></script>




