<div id="brandIntro_wrap" class="w1188">
  <div class="brandStory">
  <h1 class="w1188"><span>국순당</span> 이야기</h1>
  <p>우리의 누룩(麴)으로 <br>
    좋은술(醇)을 빚는 집(堂) 국순당은 <br>
    술을 빚기 전에 먼저 사람을 생각합니다.</p>
  <div>
    <h4 data-aos="fade-up" data-aos-duration="1000">“좋은술의 고집”</h4>
    <p data-aos="fade-up" data-aos-duration="1000" class="brandEcho">그저 취하기 위해 먹는 술이 아닌 사람들이 함께 즐기는 먹거리이기에 <br>
      좋은 재료, 좋은 제법으로 빚은 좋은 술은 기본입니다. <br>
      좋은술을 위한 철학과 고집으로 정성스레 술을 빚습니다. <br>
      좋은술의 품질을 넘어 더불어 함께 사는 환경까지 생각합니다.
    </p>
    <div data-aos="fade-up" data-aos-duration="1000" class="brandEcho_img"></div>
  </div>
  <div>
    <h4 data-aos="fade-up" data-aos-duration="1000">“전통을 오늘에 맞게”</h4>
    <p data-aos="fade-up" data-aos-duration="1000" class="brandTradition">전통은 예로부터 지금까지 전해지며 공감 되는 가치의 합입니다. <br>
      우리술을 통해 전해지는 제법과 특성을 넘어 건강하게 즐기던 우리술의 문화까지 <br>
      국순당 술에 담아 전하고자 합니다.</p>
      <div data-aos="fade-up" data-aos-duration="1000" class="brandTradition_img"></div>
  </div>
</div>
  <div class="brandValue">
  <h1 class="w1188"><span>국순당</span> 철학</h1>
  <div class="brandValue_txt">
    <h4 data-aos="fade-up" data-aos-duration="1000">“백세주는 술을 빚기 전에 먼저 사람을 생각합니다.”</h4>
    <p data-aos="fade-up" data-aos-duration="1000">백세주는 술을 빚기 전에 먼저 사람을 생각한다는 <br>
      국순당의 기업 철학과 좋은 술을 만들려는 고집스런 <br>
      노력으로 빚어진 제품입니다.</p>
    <h4 data-aos="fade-up" data-aos-duration="1000">“복원된 제법으로 우리술의 가치를 되살립니다.”</h4>
    <p data-aos="fade-up" data-aos-duration="1000">백세주는 고려 시대 명주 ‘백하주’의 제법인 생쌀발효법을 복원하여 <br>
      개발한 우리술의 대표 브랜드입니다.</p>
    <h4 data-aos="fade-up" data-aos-duration="1000">“술도 좋은 먹을거리입니다.”</h4>
    <p data-aos="fade-up" data-aos-duration="1000">좋은 원료를 정성스런 마음과 독창적인 생쌀발효법으로 빚어 <br>
      사람에게 이로운 좋은 술, 좋은 먹거리를 만들고 있습니다.</p>
    <h4 data-aos="fade-up" data-aos-duration="1000">“더불어 사는 세상을 위해 노력합니다.”</h4>
    <p data-aos="fade-up" data-aos-duration="1000">깨끗한 환경을 지키고 전하기 위한 노력, 우리 농가와 더불어 사는 마음,  <br>
      좋은 전통문화를 계승하고 또 오늘에 맞게 발전시키고자 하는 사명으로  <br>
      함께 사는 건강한 세상을 만들고자 노력합니다.</p>
      <div data-aos="fade-up" data-aos-duration="1000" class="brandrelation_img"></div>
  </div>
</div>
</div>