<div class="wrap">
<footer>
    <div class="f_wrap w1188">
    <div class="f_logo">
      <img src="img/국순당_로고.png" alt="">
    </div>
    <div class="f_txt">
      <div>
        <a href="">개인정보취급방침</a>
        <a href="">회원약관</a>
      </div>
      <p>(주)국순당 대표 : 배상민  사업자등록번호 : 124-81-14925 <br class="f_txt_br"> 고객센터 : 080-0035-100 </p>
      <p>주소 : 강원도 횡성군 둔내면 강변로 975 / <br class="f_txt_br"> 강원도 외성군 둔내면 현천리 81-3</p>
    </div>
    <div class="openTime">
      <div class="ot_title">매장 영업 시간</div>
      <div class="ot_txt">
      <p>월-토 <br class="f_br">5 : 00 PM  - 11 : 00 PM</p>
      <p>일요일, 공휴일 휴무</p>
    </div>
    </div>
  </div>
  </footer>
</div>