<div class="wrap">
  <header>
    <div class="header_wrap w1188">
      <div class="logo"><a href="/"></a></div>
      <div class="h_middle">
        <div class="owner">
          <ul>
            <li><a href="/cart">장바구니</a></li>
            <li><a class="car" href=""></a></li>
          </ul>
          <ul>
            <li><a href="">점주님 공간</a></li>
            <li><a class="fac" href=""></a></li>
            <li><a class="ins" href=""></a></li>
            <li><a class="blo" href=""></a></li>
          </ul>
          <ul>
            <li><a class="logIn" href="/log_in">로그인</a></li>
            <li><a class="joinUs" href="/join">회원가입</a></li>
          </ul>
        </div>
        <nav id="gnb">
          <div id="gnb_bg"></div>
          <ul>
            <li>
              <a href="">브랜드 소개</a>
              <ul class="lnb">
                <li><a href="/brand_intro">국순당 소개</a></li>
                <li><a href="">연혁</a></li>
                <li><a href="">오시는 길</a></li>
              </ul>
            </li>
            <li>
              <a href="">제품소개</a>
              <ul class="lnb">
                <li><a href="/bekseju">백세주</a></li>
                <li><a href="">법고창신</a></li>
                <li><a href="">백세고</a></li>
                <li><a href="">막걸리</a></li>
                <li><a href="">예담</a></li>
                <li><a href="">계열사 제품</a></li>
                <li><a href="">수입주류</a></li>
                <li><a href="">선물세트</a></li>
                <li><a href="">지난 제품 보기</a></li>
              </ul>
            </li>
            <li>
              <a href="">우리술이야기</a>
              <ul class="lnb">
                <li><a href="">우리술 알기</a></li>
                <li><a href="">우리술 복원사업</a></li>
                <li><a href="">우리술 교육</a></li>
                <li><a href="">국순당 술의 특징</a></li>
              </ul>
            </li>
            <li>
              <a href="">매장안내</a>
              <ul class="lnb">
                <li><a href="">국내 매장</a></li>
                <li><a href="">해외 매장</a></li>
              </ul>
            </li>
            <li>
              <a href="">멤버십</a>
              <ul class="lnb">
                <li><a href="">국순당 APP</a></li>
                <li><a href="">국순당 카드</a></li>
                <li><a href="">FAQ</a></li>
              </ul>
            </li>
            <li>
              <a href="">국순당 소식</a>
              <ul class="lnb">
                <li><a href="/noticeList">공지사항</a></li>
                <li><a href="">이벤트</a></li>
                <li><a href="">뉴스</a></li>
              </ul>
            </li>
            <!-- <li><a href="">고객문의</a>
              </li>
              <li><a href="">브랜드 제휴</a></li> -->
          </ul>
        </nav>
      </div>
      <div class="tel">
        <div class="tel_icon"></div>
        <div class="tel_txt">가맹점 개설문의</div>
        <div class="tel_num">080.0035.100</div>
      </div>
      <div class="mobileBtn">
        <div class="row cf">
          <div class="three col">
            <div class="hamburger" id="hamburger-1">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="m_navManu">
        <ul>
          <li>
            <a href="#" class="m_navTitle">브랜드 소개</a>
            <ul class="m_lnb">
              <li><a href="/brand_intro">국순당 소개</a></li>
              <li><a href="#">연혁</a></li>
              <li><a href="#">오시는 길</a></li>
              <li><a href="#">해외사업</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="m_navTitle">제품소개</a>
            <ul class="m_lnb">
              <li><a href="/bekseju">백세주</a></li>
              <li><a href="#">백세고</a></li>
              <li><a href="#">법고창신</a></li>
              <li><a href="#">막걸리</a></li>
              <li><a href="#">예담</a></li>
              <li><a href="#">계열사 제품</a></li>
              <li><a href="#">수입주류</a></li>
              <li><a href="#">선물세트</a></li>
              <li><a href="#">지난 제품 보기</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="m_navTitle">우리술이야기</a>
            <ul class="m_lnb">
              <li><a href="#">우리술 알기</a></li>
              <li><a href="#">우리술 복원사업</a></li>
              <li><a href="#">우리술 교육</a></li>
              <li><a href="#">국순당 술의 특징</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="m_navTitle">매장안내</a>
            <ul class="m_lnb">
              <li><a href="#">국내 매장</a></li>
              <li><a href="#">해외 매장</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="m_navTitle">멤버십</a>
            <ul class="m_lnb">
              <li><a href="#">국순당 APP</a></li>
              <li><a href="#">국순당 카드</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="m_navTitle">국순당 소식</a>
            <ul class="m_lnb">
              <li><a href="/noticeList">공지사항</a></li>
              <li><a href="#">이벤트</a></li>
              <li><a href="#">뉴스</a></li>
            </ul>
          </li>
          <!-- <li><a href="#" class="m_navTitle">고객문의</a></li>
            <li><a href="#" class="m_navTitle">브랜드 제휴</a></li> -->
        </ul>
      </div>
    </div>
  </header>
</div>

<script src="js/header.js"></script>
