<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <!--  Link Swiper's CSS -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
  <link rel="stylesheet" href="css/join.css">
  <link rel="stylesheet" href="css/noticeList.css">
  <link rel="stylesheet" href="css/write.css">
  <link rel="stylesheet" href="css/newWrite.css">
  <link rel="stylesheet" href="css/update.css">
  <link rel="stylesheet" href="css/log_in.css">
  <link rel="stylesheet" href="css/brand_intro.css">
  <link rel="stylesheet" href="css/bekseju.css">
  <link rel="stylesheet" href="css/beksejuWrite.css">
  <link rel="stylesheet" href="css/bekseju_upDate.css">
  <link rel="stylesheet" href="css/cart.css">
  <!-- AOS 라이브러리 불러오기-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
  <title>국순당</title>
</head>
<body>
  <!-- AOS 스크립트로 초기화 -->
  <script> 
    AOS.init(); 
</script>


  <div id="header">
    <%- include('header') -%>
  </div>
  <main>
    <%- body %>
  </main>
  <div id="footer">
    <%- include('footer') -%>
  </div>
</body>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</html>