<div class="wrap">
  <div class="cart_wrap">
    <a href="#" class="cart_btn"></a>
    <section></section>
  </div>
<main>
    <section class="main_1">
       <!-- Swiper -->
    <div class="swiper mySwiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide main_1_img1"></div>
        <div class="swiper-slide main_1_img2"></div>
        <div class="swiper-slide main_1_img3"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
        <!-- Swiper -->
        <div class="swiper mySwiper_m1">
          <div class="swiper-wrapper">
            <div class="swiper-slide main1_m_img1"></div>
            <div class="swiper-slide main1_m_img2"></div>
            <div class="swiper-slide main1_m_img3"></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="main_2 p80">
      <div class="main2_txt title_n">
        <h1><span>국순당</span> 우리술 제품</h1>
        <p>우리 명절에는 우리술</p>
      </div>
      <div class="main2_cont w1188">
        <!-- Swiper -->
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide main2_beverage2">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_백세주.png" alt="">
          </div>
          <span>백세주</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
        <div class="swiper-slide main2_beverage3">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_백세고.png" alt="">
          </div>
          <span>백세고</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
        <div class="swiper-slide main2_beverage4">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_법고창신2.png" alt="">
          </div>
          <span>법고창신</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
        <div class="swiper-slide main2_beverage5">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_예담.png" alt="">
          </div>
          <span>예담</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
        <div class="swiper-slide main2_beverage1">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_쌀막걸리.png" alt="">
          </div>
          <span>쌀막걸리</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
        <div class="swiper-slide main2_beverage6">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_생막거리.png" alt="">
          </div>
          <span>생막걸리</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
        <div class="swiper-slide main2_beverage7">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_밤막걸리.png" alt="">
          </div>
          <span>밤막걸리</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
        <div class="swiper-slide main2_beverage8">
          <div class="beverage_img1">
            <img class="beverage_bg" src="img/우리술제품_상품_bg.png" alt="">
            <img class="beverage_item" src="img/우리술제품_바나나막걸리.png" alt="">
          </div>
          <span>바나나 막걸리</span>
          <a class="ms2_detail" href="">자세히보기</a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
      </div>
    </section>
    <section class="main_3 p80">
      <div class="ourstory w1188">
        <h1>"우리술 이야기"</h1>
        <p>다른 곳에는 없는 우리술 만의 독특한 특징을 소개합니다.<br>
          국순당은 우리술(문화)의 좋은 점은 더욱 계승 발전시켜 올바른 <br class="ourstory_p">음주문화 정착에 기여하고자 합니다.</p>
          <a class="detail m3_detail" href="">자세히보기</a>
      </div>
    </section>
    <section class="main_4 p80">
      <div class="experi title_n">
        <h1>우리술 <span>체험하기</span></h1>
        <p>다양한 체험으로 우리 술의 매력을 알아보세요! </p>
      </div>
      <article class="experi_con">
        <div class="experi_choi areum">
          <div class="experi_txt">
          <h2>우리술 아름터</h2>
          <p>우리 술을 바르게 알고 바르게 즐기는 방법</p>
          <a class="detail m4_detail" href="">자세히보기</a>
        </div>
        </div>
        <div class="experi_choi juhyang">
          <div class="experi_txt">
          <h2>주향로 양조장 견학</h2>
          <p>국순당 횡성양조장에 자리한 우리술 역사 문화체험 공간</p>
          <a class="detail m4_detail" href="">자세히보기</a>
        </div>
        </div>
      </article>
    </section>
    <section class="main_5">
      <div class="m5_top">
        <div class="main_5_txt title_n w1188">
          <h1>가맹점 개설문의</h1>
          <p>080.0035.100</p>
        </div>
        <div class="m5_order w1188">
          <ul class="order_con">
            <li><a href="">가맹절차</a></li>
            <li><a href="">가맹비용</a></li>
            <li><a href="">인테리어</a></li>
            <li><a href="">가맹상담</a></li>
          </ul>
        </div>
      </div>
      <div class="m5_bottom">
        <div class="m5_bottom_txt title_n">
          <h1><span>국순당</span> 오픈매장</h1>
          <p>국순당의 여러가지 매장을 확인하세요!</p>
        </div>
        <div class="m5_con">
          <div class="main5_swiper w1188">
              <!-- Swiper -->
              <div class="swiper mySwiper3">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a class="s3 s3_img1" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 압구정점</p>
                    <a class="detail ms5_detail" href="">자세히보기</a>
                  </div>
                  <div class="swiper-slide">
                    <a class="s3 s3_img2" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 신촌점</p>
                    <a class="detail ms5_detail" href="">자세히보기</a>
                  </div>
                  <div class="swiper-slide">
                    <a class="s3 s3_img3" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 킨텍스점</p>
                    <a class="detail ms5_detail" href="">자세히보기</a></div>
                  <div class="swiper-slide">
                    <a class="s3 s3_img4" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 목동점</p>
                    <a class="detail ms5_detail" href="">자세히보기</a>
                  </div>
                  <div class="swiper-slide">
                    <a class="s3 s3_img5" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 충청점</p>
                     <a class="detail ms5_detail" href="">자세히보기</a>
                  </div>
                  <div class="swiper-slide">
                    <a class="s3 s3_img6" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 삼성점</p>
                    <a class="detail ms5_detail" href="">자세히보기</a>
                  </div>
                  <div class="swiper-slide">
                    <a class="s3 s3_img7" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 종각점</p>
                    <a class="detail ms5_detail" href="">자세히보기</a>
                  </div>
                  <div class="swiper-slide">
                    <a class="s3 s3_img8" href=""><div class="s3_activeBox"></div></a>
                    <p>주담터 목동점</p>
                    <a class="detail ms5_detail" href="">자세히보기</a>
                  </div>
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                <div class="swiper-pagination"></div>
              </div>
              <div class="mySwiper3_btn_next swiper-button-next"></div>
              <div class="mySwiper3_btn_prev swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="main_6">
      <div class="ask_con">
        <ul>
          <li class="store">
            <h2>매장찾기</h2>
            <p>가까운 매장을 검색해보세요.</p>
            <div class="store_con">
              <div class="search">
                <input type="text" name="keyword" placeholder="매장명 입력">
                <button type="submit">검색</button>
              </div>
          </div>
          </li>
          <li class="buy"><a href="">
            <h2>제품구매 방법</h2>
            <p>국순당 선물세트로 우리술의<br> 
              멋과 향기를 선물하세요.</p>
          </a></li>
          <li class="ques"><a href="">
            <h2>고객문의</h2>
            <p>국순당에 궁금하신 점을 문의해주시면 <br>
              담당자가 확인 후 답변 드리겠습니다.</p>
          </a></li>
        </ul>
      </div>
      <div class="delivery">
        <div class="deli_inner">
          <h2>백세주 마을 배달 런칭</h2>
          <p>새로운 3개 식사메뉴와 인기있는 안주메뉴가 배달되오니 <br>
            많은 관심과 주문 부탁드리겠습니다.</p>
        </div>
      </div>
    </section>
    <section class="main_7">
      <div class="m7_inner w1188">
        <h2 class="p80"><span>국순당 </span>공지사항</h2>
        <div>
          <!-- Swiper -->
    <div class="swiper mySwiper4">
      <div class="swiper-wrapper">
        <div class="swiper-slide noti_li">
          <a href="/noticeList">
            <div class="noti_img">
              <img src="img/백세고 百歲膏 출시(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>2022-01-07</p>
              <p>백세고 百歲膏 출시</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide noti_li">
          <a href="">
            <div class="noti_img">
              <img src="img/국순당 쌀 바밤바밤 출시(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>2021-11-13</p>
              <p>국순당 쌀 바밤바밤 출시</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide noti_li">
          <a href="">
            <div class="noti_img">
              <img src="img/국순당 '대한민국 디자인대상' 디자인경영부문 국무총리상 수상(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>2021-10-27</p>
              <p>국순당 '대한민국 디자인대상' 디자인경영부문 국무총리상 수상</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide noti_li">
          <a href="">
            <div class="noti_img">
              <img src="img/국순당 쌀 죠리퐁당 출시(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>2021-06-04</p>
              <p>국순당 쌀 죠리퐁당 출시</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide noti_li">
          <a href="">
            <div class="noti_img">
              <img src="img/2021대한민국주류대상 3개부문 대상 수상(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>2021-03-04</p>
              <p>2021대한민국주류대상 3개부문 대상 수상</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide noti_li">
          <a href="">
            <div class="noti_img">
              <img src="img/횡성한우축제 공식후원 업무협약 체결(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>2020-08-24</p>
              <p>횡성한우축제 공식후원 업무협약 체결</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide noti_li">
          <a href="">
            <div class="noti_img">
              <img src="img/1000억 프리바이오틱스 막걸리 캔 출시(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>2020-08-06</p>
              <p>1000억 프리바이오틱스 막걸리 캔 출시</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide noti_li">
          <a href="">
            <div class="noti_img">
              <img src="img/'일·생활균형 우수기업 사례 공모전' 대상 수상(262).png" alt=""><div class="noti_box"></div>
            </div>
            <div class="noti_txt">
              <p>	2019-11-21</p>
              <p>'일·생활균형 우수기업 사례 공모전' 대상 수상</p>
              <div class="detail m7_detail"><p>view&ensp;〉</p></div>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
        </div>
      </div>
    </section>
  </main>
  </div>

