<div id="write_wrap">
  <h1 class="w1188">공지사항</h1>
  <form method="post" action="/newWrite" id="write_form" class="w1188">
    <div class="from_wrap">
      <div>
      <label class="write_label">작성자</label>
      <input type="text" name="name" class="write_input">
    </div>
    <div>
      <label class="write_label">이메일</label>
      <input type="text" name="mail" class="write_input">
    </div>
    </div>
    <div class="from_wrap">
      <div>
      <label class="write_label">비밀번호</label>
      <input type="text" name="password" class="write_input">
    </div>
    <div>
      <label class="write_label">첨부파일</label></label>
      <input class="upload-name" value="">
      <label for="file" class="file">파일찾기</label> 
      <input type="file" name="attachment" id="file">
    </div>
    </div>
    <div class="from_wrap">
      <div class="write_form_wrap">
    <label class="write_label">제목</label>
    <input type="text" name="title" class="write_input writeTitle_input">
  </div>
  </div>
    <div class="write_cont from_wrap">
      <textarea name="content" rows="10" cols="100"></textarea>
    </div>
  <div id="writeBtn_wrap">
    <input type="submit" value="확인" class="write_btn" onclick="location.href='/newWrite'">
    <input type="button" value="취소" class="write_btn write_btnBack" onclick="location.href='/noticeList'">
  </div>
  </form>
</div>