/*footer*/
footer{
    padding: 48px 0;
    background-color: #377B62; 
  }
  .f_txt_br{
    display: none;
  }
  .f_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .f_txt{
    margin-right: 100px;
  }
  .f_txt a{
    display: inline-block;
    color: #F4F4F4;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 23px;
  }
  .f_txt a:first-child{
    margin-right: 15px;
  }
  .f_txt p{
    color: #F4F4F4;
    font-size: 14.5px;
    line-height: 1.5;
    font-weight: 200;
  }
  .openTime{
    color: #F4F4F4;
    position: relative;
    margin-right: 150px;
  }
  .openTime>.ot_title{
    color: #F4F4F4;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 11px;
  }
  .openTime p{
    color: #F4F4F4;
    font-size: 14.5px;
    line-height: 1.5;
    font-weight: 200;
  }
  .openTime::before{
    content: '';
    display: block;
    width: 1px; height: 96px;
    background-color: #F4F4F455;
    position: absolute;
    left:-50px ; top: 0;
  }

  @media (max-width: 750px) {
    /*footer*/
  footer{
    padding: 6.67vw 0 9.33vw;
  }
  .f_txt_br{
    display: block;
  }
  .f_br{
    display: none;
  }
  .f_logo{
    margin: 0 auto 4vw;
  }
  .f_wrap{
    flex-direction: column;
  }
  .f_txt{
    margin: 0 auto;
    text-align: center;
  }
  .f_txt p{
    margin-bottom: 15px;
  }
  .openTime::before{
    display: none;
  }
  .openTime{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
  }
  .openTime>.ot_title{
    display: inline-block;
    margin: 30px 0 11px;
  }
  .ot_txt{
    margin: 29px 0 0 20px ;
  }
  }