/*header*/
.mobileBtn{
    display: none;
  }
  header{
    width: 100%;
    background-color: #377B62;
    position: relative;
    z-index: 99999;
    /* overflow: hidden; */
    position: fixed;
  }
  .header_wrap{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  
  }
  .logo{
    width: 145px;
    height: 95px;
    background-image: url(../img/국순당_로고.png);
    background-size: cover;
    background-position: center center;
  }
  .logo>a{
    display: block;
    width: 100%;
    height: 100%;
  }
  .h_middle{
    width: 67.09%;
    /* height: 100%; */
  }
  .owner{
    display: flex;
    justify-content: right;
    /* padding-right: 10px; */
  }
  .logIn{
    font-weight: 600;
    font-size: 15px;
  }
  .joinUs{
    padding-left: 5px;
    font-weight: 600;
    font-size: 15px;
  }
  .owner>ul{
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 10px;
  }
  .owner>ul>li{
    margin-left: 5px;
  }
  .owner>ul a{
    text-decoration: none;
    color: #F4F4F4;
  }
  .car{
    display: block;
    width: 23px; height: 23px;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
  }
  .fac{
    display: block;
    width: 23px; height: 23px;
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .ins{
    display: block;
    width: 23px; height: 23px;
    background-image: url(../img/insta.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .blo{
    display: block;
    width: 23px; height: 23px;
    background-image: url(../img/blog.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 10px;
  }

  #gnb_bg{
    background-color: #377B62;
    opacity: 0.95;
    position: absolute;
    top: 95px; left: 0;
    width: 100%; height: 0px ;
    transition-duration: 0.5s;
    z-index: 9 ;
  }
  /* #gnb_bg{
    background-color: #377B62;
    opacity: 0.95;
    position: absolute;
    top: 95px; left: 0;
    width: 100%; height: 0 ;
    transition: height 0.5s;
    z-index: 3 ;
  } */
  #gnb>ul>li>a:hover{
    width: 100%; height: 100%;
    border-bottom: 3px solid #F4F4F4;
    box-sizing: border-box;
    font-weight: 500;
  }
  .lnb{
    width: 100%;
    height: 0;
    position: absolute;
    top: 40px; left: 0;
    overflow: hidden;
    transition: height 0.5s;
    padding-top: 6px;
    z-index: 9 ;
  }
  .lnb a{
    display: block;
    color: #F4F4F4;
    font-size: 13px;
    font-weight: 100;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    /* display: none; */
    line-height: 0.9;
    /* z-index: 9 ; */
  }
  .lnb a:hover{
    font-weight: 500;
  }
  #gnb:hover .lnb{
    display: block;
  
  }
  #gnb>ul{
    /* height: 29px; */
    display: flex;
  }
  #gnb>ul>li{
    height: 45px;
    /* text-align: center; */
    position: relative;
    z-index: 999;
    /* width: 100%; */
    padding: 0 16px;
  }
  #gnb>ul>li>a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #F4F4F4;
    font-weight: 300;
    /* z-index: 999; */
    line-height: 37px;
  }
  
  
  
  .tel{
    width: 140px;
    text-align: center;
    color: #F4F4F4;
    background-color: #EF7F0F;
  }
  .tel_icon{
    width: 36px; height: 30px;
    background-image: url(../img/아이콘_진짜진짜최.png);
    background-position: 0px 0px;
    margin: 8px auto 5px;
  }
  .tel_txt{
    font-size: 13px;
    padding: 3px 0 6px;
  }
  .tel_num{
    font-size: 20px;
    font-weight: 500;
  }
  .m_navManu{
    display: none;
  }

  @media (max-width: 1245px) {
    .header_wrap{
      width: 100%;
      padding: 0 40px;
      /* overflow: hidden; */
    }
  }
  @media (max-width: 1000px) {
    #gnb_bg{
      display: none;
    }
    .lnb{
      display: none;
    }
    /*header*/
    header{
      width: 100%;
    }
    .h_middle{
      display: none;
    }
    #gnb>ul.active{
      display: block;
    }
    .tel{
      display: none;
    }

    /* 클릭했을 때 햄버거 모양 변화 */
    .mobileBtn{
      display: block;
      width: 16%;
      text-align: center;
      padding-top: 19px;

    }
    .col{
      display: block;
      float: left;
      margin: 1% 0 1% 1.6%;
    }
    .col:first-of-type{
      margin-left: 0;
    }
    /* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ALL */

.row .three{
  /* position: absolute;
  top: 20%; right: -207%; */
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #377B62;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1 .line2.active{
  opacity: 0;
}

#hamburger-1 .line1.active{
  /* -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg); */
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1 .line3.active{
  /* -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg); */
  transform: translateY(-13px) rotate(-45deg);
}

/* 햄버거 클릭 시 나오는 네비 */
.m_navManu{
  display: block;
  position: absolute;
  top: 95px; right: -100%;
  background-color: #377B62;
  width: 70%; height: 100vh;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
  transition: 0.4s;
}
.m_navManu.active{
  right: 0;
}
.m_navManu>ul{
  height: 60%;
display: flex;
justify-content: space-between;
flex-direction: column;
text-align: left;
}
.m_navManu>ul>li>a{
  display: block;
  width: 100%; height: 80px;
  text-decoration: none;
  color: #F4F4F4;
  font-size: 20px;
  box-sizing: border-box;
  line-height: 80px;
  padding-left: 20px;
}
/* 모바일 아코디언 */
.m_lnb{
  box-sizing: border-box;
  background-color: #F4F4F4;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out;
}
.m_lnb.m_lnb_active{
  opacity: 1;
  max-height: fit-content;
}
.m_navTitle{
  display: block;
}
.m_navTitle.mNav_active{
  opacity: 1;
  max-height: fit-content;
  background-color: #EF7F0F;
  transition: all 0.3s ease-in-out;
}
.m_lnb>li{
  width: 100%; 
  height: 50px;
} 
.m_lnb>li>a{
  display: block;
  width: 100%; height: 100%;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  padding-left: 30px;
  line-height: 50px;
}
}


@media (max-width: 750px) {
      /*header*/
  header{
    width: 100%;
  }
  .header_wrap{
    padding: 0 5.33vw;
  }
  .h_middle{
    display: none;
  }
  .tel{
    display: none;
  }

  .hamburger .line{
    width: 5.66vw;
    height: 0.46vw;
  }
  #hamburger-1 .line3.active{
    /* -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg); */
    transform: translateY(-10px) rotate(-45deg);
  }

}

/* test */

