html, body{
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  /*common*/
  .w1188{
    width: 1188px;
    margin: 0 auto; 
  }
  .p80{
    padding: 80px 0;
  }
  .title_n{
    text-align: center;
  }
  h1{
    font-size: 34px;
    font-weight: 300;
  }
  h1::after{
    content: '';
    display: block;
    width: 45px; height: 1px;
    background-color: black;
    margin: 20px auto;
  }
  p{
    font-size: 18px;
    font-weight: 300;
  }
  .detail{
    display: block;
    width: 96px; height: 34px;
    margin: 100px 0 80px;
    font-size: 13px;
    font-weight: 300;
    color: #666666;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    border: 1px solid #666666;
    border-radius: 50px;
  }
  .detail_hover{
    background-color: #377B62;
    border-color: #377B62 !important;
    color: #F4F4F4 !important;
    transition-duration: 0.3s;
  }
  
  
  .wrap{
    width: 100%;
    min-width: 20rem;
    overflow: hidden;
  }
  html body *{
    line-height: 1em;
  }
  
  
  
  /*main_1*/
  .main_1{
    /* width: 100%; height: 100%; */
    /* min-width: 1188px; */
    position: relative;
    overflow: hidden;
    padding-top: 95px;
  }
  .mySwiper1 {
    /* width: 100%; */
    /* height: 100%; */
    min-width: 1188px;
    overflow: hidden;
  }
  .mySwiper1>.swiper-wrapper>.swiper-slide{
    padding-top: 46.875% ;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 100%; */
    min-width: 1188px;
    height: auto; 
    object-fit: cover;
  }
  .mySwiper1 .swiper-button-prev:after{
    position: absolute;
    left: 42px; top: 50%;
    transform: translateY(-50%);
  }
  .mySwiper1 .swiper-button-next:after{
    position: absolute;
    right: 42px; top: 50%;
    transform: translateY(-50%);
  }
  .swiper-button-next::after, .swiper-button-prev::after{
    color: #000;
  }
  .swiper-pagination-bullet-active{
    background-color: #377B62 !important;
    border-radius: 0 !important;
  }
  .swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,13px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,13px)) !important;
  }
  .main_1_img1{
    background-image: url(../img/막걸리_배너_t.jpg);
  }
  .main_1_img2{
    background-image: url(../img/백세주_배너_t.png);
  }
  .main_1_img3{
    background-image: url(../img/과일막걸리_배너_t.png);
  }
  
  
  /*mobile swiper*/
  .mySwiper_m1{
    display: none;
  }
  .mySwiper_m1 {
    /* width: 100%;
    height: 100%; */
      padding-top: 93.2311% !important;
      position: relative;
  }
  .mySwiper_m1>.swiper-wrapper{
    position: absolute;
    left: 0; top: 0;
  }
  .mySwiper_m1 .swiper-slide {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* max-width: 100%; */
    /* min-width: 750px; */
    height: auto; 
    object-fit: cover;
    /* position: relative; */
  }
  .mySwiper_m1 .swiper-slide::before {
    content: '';
    display: block;
    width: 100%;
    /* padding-top: 91.86%; */
  }
  .main1_m_img1{
    /* display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%); */
    background-image: url(../img/막걸리_배너_m.png);
  }
  .main1_m_img2{
    /* display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%); */
    background-image: url(../img/백세주_배너_m.png);
  }
  .main1_m_img3{
    /* display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%); */
    background-image: url(../img/과일막걸리_배너_m.png);
  }
  
  
  
  /*main_2*/
  
  .ms2_active{
    background-color: #377B62;
    border-color: #377B62 !important;
    color: #F4F4F4 !important;
    transition-duration: 0.3s;
  }
  /* .beverage_bg{
    opacity: 1;
  } */
  .main_2{
    background-image: url(../img/우리술제품_bg_t.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main_2 h1>span{
    font-weight: 700;
    color: #377B62;
  }
  .main2_txt>h1::after{
    background-color: #377B62;
  }
  .main_2 p{
    color: #377B62;
    padding-bottom: 20px;
  }
  .main2_cont{
    margin: 0 auto;
  }
  .mySwiper2>.swiper-wrapper>.swiper-slide{
    width: 273px !important;
    margin: 0 /*1.3%*/15.76px 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  .beverage_img1{
    margin-bottom: 25px;
  }
  .beverage_bg{
    margin-top: 80px;
    opacity: 0.2;
    transition-duration: 0.3s;
  }
  .beverage_item{
    position: absolute;
    left: 62%;
    bottom: 110px;
    width: 70.21%;
    transform: translateX(-50%);
  }
  .swiper-slide span{
    font-size: 24px;
    font-weight: 300;
  }
  .mySwiper2 .swiper-slide a{
    display: block;
    width: 96px; height: 34px;
    margin: 15px auto 0;
    font-size: 13px;
    font-weight: 300;
    color: #666666;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    border: 1px solid #666666;
  }
  .swiper-button-prev:after{
    padding-right: 25px;
  }
  .swiper-button-next:after{
    padding-left: 25px;
  }
  
  
  /*main_3*/
  .main_3{
    background-image: url(../img/우리술이야기_bg_t_2.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .ourstory{
    padding: 70px 0 70px 40px;
    /* overflow: hidden; */
  }
  .ourstory>h1{
    font-weight: 700;
  }
  .ourstory>h1::after{
    margin: 20px 0;
  }
  .ourstory>p{
    line-height: 1.5;
  }
  .ourstory_p{
    display: none;
  }
  
  /*main_4*/
  .experi_con{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
}
  .experi_choi{
    width: 50%;
    /* flex: 1; */
  }
  .areum{
    background-image: url(../img/술아름터_확정.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* object-fit:cover;     
    transform:scale(1.0);        
    transition: transform .5s; 
    overflow: hidden; */
  }
  /* .areum:hover{
    transform:scale(1.3);
    transition: transform .5s;
  } */

  .juhyang{
    background-image: url(../img/양조장_t_\(950\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .experi_txt{
    padding-top: 50px;
    padding-left: 80px;
  }
  .experi_con h2{
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 500;
  }
  .experi h1>span{
    font-weight: 700;
  }
  
  
  /*main_5*/
  .m5_top{
    padding: 80px 0 160px;
    background-image: url(../img/가맹상담__bg_t.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }
  .main_5_txt>h1{
    font-size: 28px;
    /* padding-top: 80px; */
    color: #F4F4F4;
  }
  .main_5_txt>h1::after{
    background-color: #F4F4F4;
  }
  .main_5_txt>p{
    font-size: 45px;
    font-weight: 700;
    color: #F4F4F4;
  }
  .m5_order{
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    padding: 0 110px;
    box-sizing: border-box;
  }
  .order_con{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .order_con li{
    border-radius: 50%;
    position: relative;
  }
  .order_con li::after{
    content: '';
    width: 100%; height: 100%;
    border: 6px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 0; bottom: 0;
    cursor: pointer;
  }
  /* .order_con li:hover::after{
    border: 0;
    transition-duration: 1s;
  } */
  .order_con li:hover{
    box-shadow: 3px 14px 21px 0px rgb(56 55 55 / 22%);
    transition-duration: 1s;
  }
  .order_con li>a{
    display: block;
    width: 176px; height: 176px;
    padding-top: 35px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #EF7F0F;
    /* transition: all 1s; */
  }
  /* .order_con li:hover a{
    scale: ;
    transition-duration: 1s;
  } */
  .order_con li:first-child>a::before{
    content:'';
    display: block;
    width: 50px; height: 51px;
    margin: 0 auto 15px;
    background-image: url(../img/main5_icon1-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;
  }
  .order_con li:nth-child(2)>a::before{
    content:'';
    display: block;
    width: 50px; height: 51px;
    margin: 0 auto 15px;
    background-image: url(../img/main5_icon2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;
  }
  .order_con li:nth-child(3)>a::before{
    content:'';
    display: block;
    width: 50px; height: 51px;
    margin: 0 auto 15px;
    background-image: url(../img/main5_icon3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;
  }
  .order_con li:last-child>a::before{
    content:'';
    display: block;
    width: 50px; height: 51px;
    margin: 0 auto 15px;
    background-image: url(../img/main5_icon4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;
  }
  .order_con li>a::after{
    content: '';
    display: block;
    margin: 15px auto 0;
    width: 28px; height: 7px;
    background-image: url(../img/main_5_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px auto;
  }
  .m5_bottom{
    padding: 180px 0 127px;
    background-image: url(../img/국순당매장_bottom_bg_t.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .m5_bottom_txt>h1{
    color: #377B62;
  }
  .m5_bottom_txt span{
    font-weight: 700;
    color: #000;
  }
  
  
  .main5_swiper{
    margin-top: 70px;
    padding: 74px 37px 60px;
    background-color: #fff;
    box-shadow: 3px 14px 21px 0px rgb(56 55 55 / 22%);
    box-sizing: border-box;
    position: relative;
  }
  
  /* 스와이퍼!!!!!!!!!!!! */
  .mySwiper3 {
    width: 100%;
    height: 100%;
  }
  .mySwiper3 .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0 !important;
  }
  
  .mySwiper3>.swiper-wrapper>.swiper-slide{
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .mySwiper3>.swiper-wrapper>.swiper-slide{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    padding-bottom: 65px;
    /* padding: 0 10px; */
    position: relative;
  }
  
  .mySwiper3>.swiper-wrapper>.swiper-slide .s3{
    display: block;
    width: 90%;
    height: 280px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  
  .s3_img1{
    background-image: url(../img/주담터_01.png);
  }
  .s3_img2{
    background-image: url(../img/주담터_02.png);
  }
  .s3_img3{
    background-image: url(../img/주담터_03.png);
  }
  .s3_img4{
    background-image: url(../img/주담터_04.png);
  }
  .s3_img5{
    background-image: url(../img/주담터_05.png);
  }
  .s3_img6{
    background-image: url(../img/주담터_02.png);
  }
  .s3_img7{
    background-image: url(../img/주담터_01.png);
  }
  .s3_img8{
    background-image: url(../img/주담터_03.png);
  }
  .mySwiper3 .detail{
    margin: 25px auto 0;
    border-radius: 0;
  }
  .mySwiper3 p{
    font-size: 24px;
  }
  .mySwiper3_btn_next{
    position: absolute;
    top: 50%; right: 20px !important;
  }
  .mySwiper3_btn_prev{
    position: absolute;
    top: 50%; left: 20px !important;
  }
  
  /* 호버시 겹쳐지는 사진 */
  .s3_active{
    /* display: block;
    content: ''; */
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    transition: opacity 0.25s;
    background: rgba(55, 123, 98, 0.5) url("../img/ico_plus.png") no-repeat center center;
    background-size: 32px auto;
  }
  
  /*main_6*/
  .ask_con{
    width: 100%;
    background: linear-gradient(to left, #998D83 50%, #967F5B 50%);
  }
  .ask_con>ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 40px;
  }
  .ask_con>ul>li{
    width: 33.33%;
    height: 278px;
    text-align: center;
    box-sizing: border-box;
  }
  .ask_con>ul>li>a{
    text-decoration: none;
    color: #000;
  }
  .ask_con h2{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
  }
  .ask_con p{
    font-size: 14px;
    line-height: 1.5;
  }
  .store{
    padding-top: 70px;
  }
  .search{
    position: relative;
    margin: 45px auto 0;
    width: 283px; height: 46px;
    text-align: left;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .search>input{
    width: 250px; height: 100%;
    padding: 0 20px;
    font-size: 14px;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    outline: none;
  }
  input::placeholder{
    color: #000;
  }
  .search>button{
    overflow: hidden;
    position: absolute;
    right: 15px; top: 50%;
    width: 28px; height: 28px;
    transform: translateY(-50%);
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    text-indent: -9999px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .buy{
    background-color: #666666;
    padding-top: 45px;
  }
  .buy h2::before{
    content: '';
    display: block;
    width: 90px; height: 67px;
    margin: 0 auto 30px;
    background-image: url(../img/buy_icon2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }
  .ques{
    padding-top: 45px;
  }
  .ques h2::before{
    content: '';
    display: block;
    width: 90px; height: 67px;
    margin: 0 auto 30px;
    background-image: url(../img/ques_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }
  .delivery{
    padding: 100px 0;
    /* background-image: url(../img/shutterstock_256710463.webp); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%),url(../img/배달런칭_수정.png); 
  }
  .deli_inner>h2::before{
    content: '';
    display: block;
    position: absolute;
    left: 100px; top: 50%;
    transform: translateY(-50%);
    width: 250px; height: 100px;
    /* background-image: url(../img/백세주마을_logo.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }
  .deli_inner{
    max-width: 1188px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    /* padding-left: 50px; */
    box-sizing: border-box;
  }
  .deli_inner>h2{
    font-size: 40px;
    padding-bottom: 10px;
    color: #F4F4F4;
    font-weight: 500;
  }
  .deli_inner>p{
    font-size: 18px;
    line-height: 1.5;
    color: #F4F4F4;
  }
  
  
  
  /*main_7*/
  .main_7{
    width: 100%;
    background-color: #333366;
  }
  .m7_inner{
    /* width: 1188px; */
    /* margin: 0 auto; */
  }
  .m7_inner>h2{
    font-size: 34px;
    font-weight: 300;
    color: #F4F4F4;
    text-align: center;
    /* margin: 0 auto; */
  }
  .m7_inner>h2>span{
    font-weight: 700;
  }
  
  
  
  
  /*swiper!!!!!*/
  .mySwiper4 {
    width: 100%;
    height: 100%;
    padding-bottom: 115px !important;
  }
  
  .mySwiper4 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* margin-right: 1.68%; */
    /* width: 23.73% !important; */
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .mySwiper4 a{
    display: block;
    width: 100%;
    padding: 10px 10px 25px 10px;
    box-sizing: border-box;
    background-color: #fff;
    text-decoration: none;
  }
  .noti_img{
     /*height: 230px;*/
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
  }
  .noti_img_hover{
    position: relative;
  }
  .noti_img::before{
    content: '';
    display: block;
    padding-top: 85.66%;
    width: 100%;
  }
  .noti_img>img{
    /* width: 100%; height: auto; */
    position: absolute;
    left: 0; top: 0;
  
  }
  .mySwiper4 .detail{
    width: 65px; height: 27px;
    margin: 16px auto 0;
    line-height: 25px;
    position: relative;
  }
  .mySwiper4 .detail>p{
    width: 100%; height: 100%;
    text-align: left;
    line-height: 2;
    font-size: 13px;
    position: absolute;
    left: 14px; top: 50%;
    transform: translateY(-50%);
  }
  .noti_active{
    transform: translateY(-20px) !important;
    transition-duration: 0.3s;
  }
  .noti_img_hover{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    transition: opacity 0.25s;
    background: rgba(55, 123, 98, 0.5) url("../img/ico_plus.png") no-repeat center center;
    background-size: 32px auto;
  }
  .noti_txt{
    color: #000;
  }
  .noti_txt>p:first-child{
    padding-bottom: 10px;
    color: #666666;
    font-size: 13px;
  }
  .noti_txt>p:nth-child(2){
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 40px !important;
  }
  
  
  
  
  
  
  
  
  @media (max-width: 1245px) {
    /*common*/
    .w1188{
    width: 100%;
  }
  
    .main_2{
      width: 100%;
      margin: 0 auto;
    }
    .main_1{
      min-width: none !important;
    }
    .mySwiper1>.swiper-wrapper>.swiper-slide{
      min-width: 0;
    }
  
    /*main_7*/
    .main_7{
      width: 100%;
    }
    .m7_inner>div{
      padding: 0 40px;
    }
  }
  
  
  
  @media (max-width: 1000px) {
    /*common*/
    .w1188{
      width: 100%;
    }
  
    .wrap{
      width: 100%;
    }
  
  
  
  
  
  
    /*main_6*/
    .ask_con{
      background: none;
    }
    .ask_con>ul{
      padding: 0;
    }
    .store{
      width: 100% !important;
      background-color: #967F5B ;
    }
    .buy{
      width: 50% !important;
    }
    .ques{
      width: 50% !important;
      background-color: #998D83 ;
    }
  
    .delivery{
      padding-left: 4.66vw ;
    }
  
  
    /*main_7*/
    .main_7{
      width: 100%;
    }
    .m7_inner{
      width: 100%;
    }
    .m7_inner>div{
      padding: 0 40px;
    }
  }
  



  
  @media (max-width: 750px) {
  /*common*/
  .w1188{
    width: 100%;
  }
  .p80{
    padding: 0;
  }
  h1{
    margin-bottom: 2vw;
    font-size: 5.40vw;
  }
  p{
    font-size: 3.20vw;
  }
  
  
.wrap{
      width: 100%;
    }
  
/*main_1*/
.main_1{
      width: 100%;
    }
.mySwiper1{
      display: none;
    }
.mySwiper_m1{
      display: block;
    }

  
  
    /*main_2*/
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
      display: none;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
      display: none;
    }
    .main_2{
      background-image: url(../img/우리술제품_bg_m.png);
      background-size: 100% auto;
      padding: 10.93vw 0 9.33vw;
    }
    .main2_txt h1{
      margin-bottom: 2vw;
      font-size: 5.40vw;
    } 
    .main2_txt>h1::after{
      display: none;
    }
    .main_2 p{
      font-size: 3.20vw;
    }
  .main2_cont{
    margin-top: 9.33vw;
    padding: 0;
    }
  
  
    /*main_3*/
    .main_3{
      padding: 12vw 0 12.76vw;
      height: auto;
      background-image: url(../img/우리술이야기_m_bg.png);
    }
    .ourstory{
      padding-right: 40px;
    }
    .ourstory>p{
      width: 100%;
    }
    .ourstory_p{
      display: block;
    }
    .ourstory .detail{
      margin-top: 6.67vw;
      width: 15.33vw; height: 5.53vw;
      font-size: 1.93vw;
      line-height: 5.53vw;
    }
  
  
    /*main_4*/
    .main_4{
      padding: 12vw 0 12.76vw;
    }
    .areum{
      width: 100%;
      height: auto;
      background-image: url(../img/술아름터_m.png);
    }
    .juhyang{
      width: 100%;
      height: auto;
      background-image: url(../img/양조장_t_\(750\).png);
    }
    .experi_txt {
      padding-left: 40px;
  }
    .experi_con h2{
      font-size: 4.60vw;
    }
    .experi_txt>.detail{
      margin-top: 6.67vw;
      width: 15.33vw; height: 5.53vw;
      font-size: 1.93vw;
      line-height: 5.53vw;
    }
  
  
    /*main_5*/
    .order_con li:hover{
      box-shadow: 0px 0px 0px 0px rgb(56 55 55 / 22%);
    }
    .m5_top{
      padding: 12.67vw 5.33vw 9.33vw;
      background-image: url(../img/가맹상담_bg_m.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    .main_5_txt>h1{
      font-size: 4.60vw;
    }
    .main_5_txt>p{
      font-size: 5.93vw;
    }
    .m5_order{
      position: relative;
      max-width: none;
      padding: 0;
      bottom: -73px;
    }
    /* .m5_order{
      box-shadow: 0.67vw 1.33vw 1.2vw 0vw rgb(56 55 55 / 16%);
    } */
    .order_con li>a{
      /* width: 176px; height: 176px; */
      width: 25.4666vw; height: 25.33vw;
      padding-top: 4.67vw;
      font-size: 2.73vw;
      border-radius: 0;
      box-shadow: 0.67vw 1.33vw 1.2vw 0vw rgb(56 55 55 / 16%);
    }
    .order_con li::after{
      display: none;
    }
    .order_con li:first-child>a::before{
      margin: 0 auto 1.33vw;
      width: 8vw; height: 8vw;
      background-size: 8vw auto;
    }
    .order_con li:nth-child(2)>a::before{
      margin: 0 auto 1.33vw;
      width: 8vw; height: 8vw;
      background-size: 8vw auto;
    }
    .order_con li:nth-child(3)>a::before{
      margin: 0 auto 1.33vw;
      width: 8vw; height: 8vw;
      background-size: 8vw auto;
    }
    .order_con li:last-child>a::before{
      margin: 0 auto 1.33vw;
      width: 8vw; height: 8vw;
      background-size: 8vw auto;
    }
    .order_con li>a::after{
      margin: 2vw auto 0;
      width: 3.73vw;
      height: 0.8vw;
      background-size: 3.73vw auto;
    }
    .m5_bottom{
      padding: 11.33vw 0 0;
      background-image: url(../img/);
    }
  
  
    /*main_6*/
    .ask_con>ul>li{
      width: 100% !important;
      height: 33.87vw;
      text-align: left;
    }
    .store{
      padding: 8vw 5.33vw 0;
    }
    .store p{
      display: inline-block;
    }
    
    .buy{
      position: relative;
      padding: 8vw 5.33vw 0;
    }
    .buy h2::before{
      position: absolute;
      top: 35%; right: 10.67vw;
      margin: 0;
      width: 16vw; height: 12vw;
      /* transform: translateY(-50%); */
  
    }
    .ques{
      position: relative;
      padding: 8vw 5.33vw 0;
    }
    .ques h2::before{
      position: absolute;
      top: 35%; right: 10.67vw;
      margin: 0;
      width: 16vw; height: 12vw;
    }
    .ask_con h2{
      display: inline-block;
      margin-right: 3.33vw;
      font-size: 4.60vw;
    }
  
    .search{
      margin: 2.67vw auto 0;
      width: 84vw;
      height: 8.27vw;
    }
      .delivery{
        padding-left: 4.66vw ;
        background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%),url(../img/백세주마을_배달런칭_배너_m.png); 
        background-attachment: scroll;
      }
  
    .deli_inner>h2{
      font-size: 5.40vw;
    }
    .deli_inner>p{
      font-size: 2.93vw;
    }
  
  
    /*main_7*/
    .main_7{
      width: 100%;
    }
    .m7_inner>h2{
      padding: 9.33vw 0 ;
      font-size: 5.40vw;
    }
    .noti_txt>p:first-child{
      padding-bottom: 1.33vw;
      font-size: 2.40vw;
    }
    .noti_txt>p:nth-child(2){
      font-size: 3.47vw;
    }
    .mySwiper4 .detail{
      width: 9.2vw; height: 3.6vw;
      line-height: 4.13vw;
      border-radius: 2.2vw;
    }
    .mySwiper4 .detail>p{
      font-size: 1.73vw;
      left: 2vw;
    }
  
  
    
  
  }