#write_wrap{
  padding: 195px 0 140px;
  /* text-align: center; */
}
#write_wrap>h1{
  margin: 0 auto;
  text-align: center;
  color: #377B62;
  font-weight: 700;
  padding-bottom: 20px;
}
#write_wrap h1::after{
  background-color: #377B62;
}

#write_form{
  /* width: 90%; */
  margin: 0 auto;
  border-top: 2px solid #377B62;
  padding: 0 0 20px;
  
}
#write_form>.from_wrap{
  width: 100%;
}
.write_label{
  display: inline-block;
  width: 150px; height: 50px;
  line-height: 50px;
  background-color: #F0F0F0;
  text-align: center;
  vertical-align:middle;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
}
.write_input{
  width: 63%; height: 35px;
  border: 1px solid #dddddd;
  margin-right: 50px;
  outline: none;
}
/* 작성일 */
#write_form input[type="date"] {
  width: 63%; height: 35px;
  margin-right: 51px;
  outline: none;
}

/* 첨부파일 스타일 */
.upload-name{
 display: inline-block;
 height: 40px;
 padding: 0 10px;
 vertical-align: middle;
 border: 1px solid #dddddd;
 width: 41%;
 color: #666666;
 outline: none;
}
.file{
  display: inline-block;
  padding: 10px 20px;
  color: #F0F0F0;
  vertical-align: middle;
  background-color: #377B62;
  cursor: pointer;
  height: 17px;
  margin-left: 10px;
}
/* 첨부파일 스타일 end */


.writeTitle_input{
  width: 82%;
}
textarea{
  width: 80%;
}
#write_form input[type="file"] {
  position: absolute;
  width: 0; height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.write_cont{
  text-align: center;
}
.write_cont>textarea{
  margin: 20px 0 50px;
  width: 90%; height: 400px;
  outline: none;
  border: 1px solid #dddddd;
}

/* 버튼 */
#writeBtn_wrap{
  text-align: right;
}
.write_btn{
  width: 55px; height: 35px;
  background-color: #EF7F0F;
  color: #F4F4F4;
  border-radius: 50px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}
.write_btnBack{
  background-color: #377B62;
}

.from_wrap>div{
  display: inline-block;
  width: 49%;
}
.write_form_wrap{
  width: 99% !important;
}
@media (max-width:1200px) {
  .from_wrap>div{
    display: block;
    width: 100% !important;
  }
  .write_input {
    width: 39.66vw;
  }
  #write_form input[type="date"]{
    width: 28.66vw;
  }
  .writeTitle_input{
    width: 60.83vw;
  }
  .upload-name{
    width: 20.83vw;
  }
  .file{
    padding: 0.83vw 1.66vw;
  }
}
@media (max-width:900px) {
  .write_form_wrap{
    width: 100.55vw !important;
  }
}
@media (max-width:780px) {
  .write_form_wrap{
    width: 121.79vw !important;
  }
}