#logIn_wrap{
  padding: 195px 0 140px;
}
.logInImg_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 246px; height: 100px;
  margin: 0 auto;
}
.logInTitle_img{
  display: block;
  width: 300px; height: 70px;
  background-image: url(../img/logIn_icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 171px auto;
}
.logInArrow{
  display: block;
  width: 50px; height: 35px;
  background-image: url(../img/icon_arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px auto;
  /* margin-left: 20px; */
}
.idBox{
  border-top: 1px solid #377B62 !important;
}
.logIn_td>.id_pw{
  width: 330px; height: 50px;
  border: none;
  border-bottom: 1px solid #dddddd;
  outline: none;
}
.logIn_td>.id_pw::placeholder{
  color: #dddddd;
}
#logIn_check{
  width: 310px; height: 50px;
  border-radius: 50px;
  background-color: #EF7F0F;
  border: none;
  color: #F4F4F4;
  font-size: 14px;
  cursor: pointer;
  margin-top: 40px;
}
.logIn_btn{
  text-align: center;
}

.idPw_search{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.input-wrap{
  line-height: 1.5;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666666;
}
.find{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.find>li{
  font-size: 14px;
  color: #666666;
}