#update_wrap{
  padding: 195px 0 140px;
  /* text-align: center; */
}
#update_wrap>h1{
  margin: 0 auto;
  text-align: center;
  color: #377B62;
  font-weight: 700;
  padding-bottom: 20px;
}
#update_wrap h1::after{
  background-color: #377B62;
}